:root {
  --jumbotron-padding-y: 3rem;
}
.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #ded;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.jumbotron-heading {
  font-weight: 300;
}
.jumbotron .container {
  max-width: 40rem;
}
footer {
  padding-top: 38px;
  padding-bottom: 3rem;
}
footer p {
  margin-bottom: .25rem;
}
ol.post-title{
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
}
h1.post-title{
  font-size: 2em;
}
.post-title a.h4{
  padding-left: 14px;
  color: #007bff;
}
.post-body{
  margin-top: 15px
}
.post{
  padding: 2rem 1rem;
  background-color: #F5F8CD;
}
.date-right{
  display: none
}
.profile{
  font-weight: bold;
  font-size: 1.2rem;
}

/*pc*/
@media (min-width: 768px) { 
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    margin: auto ;
  }.date-right{
    float: right;
    display: inline;
  }.post{
    padding: 3rem 1rem;
  }h1.post-title{
    font-size: 2.25rem
  }


}